<style type="text/css" xmlns="http://www.w3.org/1999/html">

</style>
<!--footer start from here-->

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="logofooter"> <img src="{{ asset('./Images/lg.png') }}" style="margin-bottom: -5%;"></div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6"style="  width: 33%;">
                    <h3>CONTACT</h3>
                    <ul>
                        <li><i class="fa fa-map-pin"style="     color: #ff0000;"></i> Adresse: <a href="https://www.google.fr/maps/place/37%C2%B013'10.4%22N+9%C2%B056'18.8%22E/@37.219546,9.9363633,633m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d37.219546!4d9.938552"> Zone Industrielle Menzel-Jemil,Bizerte, Tunisie</a> </li>
                        <li > <i class="fa fa-phone"style="     color: #ff0000;"></i>Telephone (TUNISIA) :<a href="tel:(+216)72 53 34 44">  (+216)72 53 34 44</a> </li>
                        <li> <i class="fa fa-fax" style="     color: #ff0000;"></i> FAX (TUNISIA) :<a href="tel:(+216)72 53 34 44">(+216)72 53 34 44</a> </li>
                        <li><i class="fa fa-envelope"style="     color: #ff0000;"></i> E-mail :<a href="mailto:contact-stivi@planet.tn" target="_top">contact-stivi@planet.tn</a> </li>



                    </ul>
                </div>

                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Service Clients </h3>

                    <ul>
                        <li><a href="#">État de la commande</a></li>
                        <li><a href="#">Expédition & Livraison</a></li>
                        <li> <a href="{{ path("my_app_mail_sendeimal") }}">Contactez nous </a> </li>

                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> À propos de nous </h3>
                    <ul>
                        <li> <a href="{{ path("stivi_stivi_aboutus") }}">Carrières</a> </li>
                        <li> <a href="#"> Information d'entreprise</a> </li>

                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3>Réseaux Sociaux</h3>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/STIVI-111116042307140/?fref=ts"> <i class=" fa fa-facebook">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">  </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">  </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container" style="background-color: #c9d5d9">
            <p class="pull-left"> Copyright © STIVI 2016. All right reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; powered by <a href="mailto:hichem.annabi@esprit.tn">Annabi Hichem</a></p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
