{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block foot %}{% endblock %}
{% block body %}

<!-- content -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Oops</h1>

            <h2 class="without-margin">Don't worry. It's <span class="text-warning"><big>{{ status_code }} - {{ status_text }}</big></span> error only.</h2>
            <p><h2 class="text-warning">Access denied</h2> </p>
            <p><a href="{{ path("stivi_homepage") }}" class="btn btn-primary">Home</a> <a href="#" class="btn btn-success">Contact</a></p>
        </div>
    </div>



{% endblock %}