{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        .testing::first-letter {
            font-size: 200%;
            color: #e2140e;
            display: inline-block;

        }
        .testing2::first-letter{
            font-size: 200%;
            color: #1413e2;
            display: inline-block;
        }
        .testing3{
            font-size: 100%;
            color: #2fe274;
            display: inline-block;
        }
    </style>

    <div class="panel panel-body"style="margin-top: 2%;">
        <div class="panel-body">
<h2 style="color: red">Presentation</h2>
            <p>
                Créée en 2005, à partir d’une entreprise familiale (fondée en 1975 par M. Slaheddine CHOUCHENE),

                - est parmi les premières sociétés à s’investir dans le domaine de la climatisation et de la ventilation en Tunisie.

            </p>
                </br>
            <p class="testing" style="display: inline-block">S  </p><p style="display: inline-block">ociété</p>
            <p class="testing2" style="display: inline-block ">T</p><p style="display: inline-block;color: blueviolet">unisienne</p>
            <p class="testing" style="display: inline-block">I</p><p style="display: inline-block;color: yellow">solation</p>
            <p class="testing2" style="display: inline-block">V</p><p style="display: inline-block">entilation</p>
            <p class="testing" style="display: inline-block">I</p><p class="testing3" style="display: inline-block" >ndustrielle</p>
          <p>Parmi les premières sociétés à s’investir dans le domaine de la climatisation et de la ventilation en Tunisie.</p>
            <p>

                Aujourd’hui M. Tarek CHOUCHENE,
                Manager de S.T.I.V.I., persévère dans la voie tracée par Mr Slaheddine et fixe de nouvelles orientations stratégiques
                destinées à pérenniser l’entreprise par la recherche de l’excellence dans le travail réalisé et le produit proposé.
                La situation de S.T.I.V.I.,
                à Bizerte à 60km de la capitale, favorise l’accès à ses usines et facilite le déplacement
                de ses cadres et techniciens sur tout le territoire tunisien et à l’étranger.
            </p>
            <p>S.T.I.V.I. dispose d’un capital humain qualifié,
                pour offrir à sa clientèle un produit répondant aux critères internationaux de conception et de qualité.
                Elle compte parmi les plus grands spécialistes de la ventilation pour tous types de locaux industriels ou d'habitations.
                Grâce à l’acquisition de nouvelles technologies,
                S.T.I.V.I. peut fournir des produits et des services fiables et compétitifs à ses clients.</p>
            <P>S.T.I.V.I. crée l’événement en décembre 2008, en étant la première société dans son domaine en Tunisie certifiée Iso 9001:2008.</P>



            </div>
        </div>
{% endblock %}